<p>
  Lieber Experte
</p>
<p>
  Bitte kontrolliere die IPA von <%= @dossier.candidate.forename %> <%= @dossier.candidate.surname %>. Das Dossier kann hier heruntergeladen werden:
  <br />
  <%= rails_blob_url(@dossier.dossier_file, disposition: "attachment") %>
</p>
<p>
  Nachdem Abschluss der Kontrolle ist diese im folgenden Formular zu bestätigen:
  <br />
  <%= "https://#{ENV.fetch('API_ORIGIN', 'localhost:3000')}/verification/result/#{@verification.token}"%>
</p>
<p>
  Vielen Dank und freundliche Grüsse

  dein IPA Toolkit
</p>